In [1]:
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i,end= " ")

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

In [4]:
a = 50 
b = 30
c = int(input("Enter your number"))
p = (2*a*b/c)**(0.5)                         ##square root ki value 0.5 hoti he 
print(p,end= " ")

Enter your number6
22.360679774997898

In [1]:
for i in range(2):
    u = input("Enter characteractics :")
    print(u.upper())

Enter characteractics :hello world
HELLO WORLD
Enter characteractics :practice mean perfact
PRACTICE MEAN PERFACT

In [1]:
f = input("Enter characteristics:").split(",")
f.sort()
print(f)

Enter characteristics:usama,khan,jazba
['jazba', 'khan', 'usama']

In [12]:
u = {"names":["usama","daniyal","moiz","maaz"],
    "cources":["php","python","jango","flask"]}
u

{'names': ['usama', 'daniyal', 'moiz', 'maaz'],
 'cources': ['php', 'python', 'jango', 'flask']}

In [13]:
import pandas as pd

In [14]:
pd.DataFrame(u)

     names cources
0    usama     php
1  daniyal  python
2     moiz   jango
3     maaz   flask

In [8]:
make_dict = {}
while True:
    u = input("Enter your name:")
    if u==",":
        break
    s = int(input("Enter your score (0,10):"))
    if s not in range(0,11):
        break
    if u in make_dict:
        make_dict[u] += (s,)
    else:
        make_dict[u] = (s,)
for u in sorted(make_dict.keys()):
    adding = 0
    counter = 0
    for s in make_dict[u]:
        adding +=1
        counter +=1
    print(u,":", adding/counter)
make_dict

Enter your name:usama
Enter your score (0,10):1
Enter your name:usama
Enter your score (0,10):2
Enter your name:usama
Enter your score (0,10):3
Enter your name:usama
Enter your score (0,10):4
Enter your name:daniyal
Enter your score (0,10):2
Enter your name:daniyal
Enter your score (0,10):3
Enter your name:daniyal
Enter your score (0,10):4
Enter your name:daniyal
Enter your score (0,10):4
Enter your name:saad
Enter your score (0,10):1
Enter your name:saad
Enter your score (0,10):2
Enter your name:saad
Enter your score (0,10):3
Enter your name:saad
Enter your score (0,10):4
Enter your name:maaz
Enter your score (0,10):1
Enter your name:maaz
Enter your score (0,10):2
Enter your name:maaz
Enter your score (0,10):3
Enter your name:maaz
Enter your score (0,10):4
Enter your name:,
daniyal : 1.0
maaz : 1.0
saad : 1.0
usama : 1.0

{'usama': (1, 2, 3, 4),
 'daniyal': (2, 3, 4, 4),
 'saad': (1, 2, 3, 4),
 'maaz': (1, 2, 3, 4)}

In [9]:
import pandas as pd

In [10]:
pd.DataFrame(make_dict)

   usama  daniyal  saad  maaz
0      1        2     1     1
1      2        3     2     2
2      3        4     3     3
3      4        4     4     4